:root {
    font-family: 'Alata', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F2EFE7;
    --background-color: #F2EFE7;
    --text-color: #374958;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 2px solid #006A71;
}

.logo h1{
    margin: 0;
}

button {
    background-color: #48A6A7;
    color: #F2EFE7;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
}

button.yes {
    background-color: green;
}

button.no {
    background-color: red;
}

button:hover {
    border-style: none;
    border-left: 5px solid #006A71;
    border-right: 5px solid #006A71;
    border-style: none;
}

button:active {
    transform: scale(0.95); 
}

button.menu {
    width: 50px;
    height: 40px;
}

button.tab, button.selected-tab{
    background-color: transparent;
    color: black;
    height: 2rem;
    width: 100%;
}

button.tab:hover {
    background-color: #ECECEC;
}

button.selected-tab {
    background-color: rgba(72, 166, 167, 0.3);
    border-left: 2px solid #006A71;
}


button.selected-tab:hover {
    background-color: rgba(72, 166, 167, 0.5);
}

button.add-task {
    color: black;
    background-color: var(--background-color);
}

button.add-task:hover {
    background-color: #F8F6F2;
}

button.add-task:active {
    transform: scale(0.99); 
}

.add-mission-button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.add-mission-button:hover {
    transform: scale(1.05);
}

.add-mission-button:active {
    transform: scale(0.9); 
}

.content {
    display: flex;
}

.content .left-panel {
    padding: 0 1rem;
    flex: 0.2;
    height: 90vh;
    background-color: #F8F6F2;
}

.left-panel .home, .left-panel .projects {
    display: flex;
    flex-direction: column; 
}

.home button, .projects button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

button img {
    height: 75%;
    vertical-align: middle;
}

.home h2, .projects h2 {
    border-bottom: 2px solid #006A71;
    font-size: 1rem;
}


.project-title:hover, .project-description:hover {
    cursor: pointer;
}

.edit-input {
    background-color: var(--background-color);
}

.content .right-panel
{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    margin-top: 2rem;
    gap: 1rem;
}

.right-panel .title {
    background-color: #48A6A7;
    width: 100%;
    height: 7rem;
    color: #F2EFE7;
}

.right-panel .title > * {
    padding: 0 1rem;;
}

.right-panel .tasks-list-container {
    display: flex;
    flex-direction: column;
    gap: 2px;;
    width: 100%;
}
.tasks-list-container button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.hidden {
    display: none;
}

form .input-field{
    background-color: #F8F6F2;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    font-weight: 600;
}

.formButtons {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.form-submit-button , .form-cancel-button{
    color: #F2EFE7;
    font-weight: bold;;
    background-color: #48A6A7;
    border-style: none;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
}

.form-submit-button {
    background-color: #48A6A7;
}

.form-cancel-button {
    background-color: #C62B26;

}

.form-submit-button:hover {
    background-color: #006A71;
}

.form-cancel-button:hover {
    background-color: #A32A23;
}

.input-field input {
    height: 2rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 0;
}

li:hover{
    background-color: #F8F6F2;
}


.tasks-list-container ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: #006A71;
    border-width: 2px;
    border-radius: 5px;
    padding: 3px 1rem;
    gap: 1rem;
    color: var(--text-color);
}

.task-details {
    flex: 1;
}

.task-title {
    font-weight: 600;
}

.task-due-date {
    border: solid 1.5px var(--text-color);
    border-radius: 10px;
    padding: 3px 6px;
}

.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #48A6A7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.checkbox.unchecked {
    background-color: transparent;  
}

.checkbox.checked {
    background-color: #48A6A7;
}

.checkbox.checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
}

.task-right-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task-menu-button {
    cursor: pointer;
    transition: background-color 0.2s;
}

.star-checkbox {
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
}

.star-checkbox.unchecked {
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="black" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><polygon points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"/></svg>');
}

.star-checkbox.checked {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23FEC810" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><polygon points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"/></svg>');
}

.strikethrough {
    text-decoration: line-through;
    color: #888;
    font-style: italic;
}

.task-submenu {
    position: absolute;
    top: -250%;
    left: -125%;
    display: flex;
    font-size: 3rem;
    background-color: var(--background-color);
    border: 2px dashed #48A6A7;
    border-radius: 10%;
}

.submenu-item {
    display: flex;
    justify-content: center;
    width: 3rem;
}

.submenu-item:hover {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ECECEC;
}

.task-menu-button {
    position: relative;
  }